<section>
    <h2>
      {{project.name}}
    </h2>
    <br/>
    <a href="{{project.url}}" target="_blank" *ngIf="project.url">Check it out here</a>
    <br />
    <a href="{{project.github_url}}" target="_blank" *ngIf="project.github_url">View the source code here</a>

    <p>{{project.description}}</p>

    <div *ngIf="project.img" [ngStyle]="{'background-image': 'url(' + project.img + ')', 'min-height': '100vh', 'background-size': 'contain', 'background-repeat' : 'no-repeat'}"></div>

  </section>
