
  <section>
    <h2>Hello,</h2>
    <p>My name is Luke Chen Shui and I'm a young software engineer that just loves to make anything that pops into my head.</p>
    <p>I currently work on projects that use Angular 4, Laravel, Express and Native Android and I've been tinkering with Rust for a little bit.</p>
  </section>
  <br/>
  <projects></projects>
  <br/>
  <script id='fiverr-seller-widget-script-560dc0d1-5721-4b9b-a873-9e1599621c14' src='https://widgets.fiverr.com/api/v1/seller/chenshuiluke?widget_id=560dc0d1-5721-4b9b-a873-9e1599621c14' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>

